.table_wrapper {
  margin: 40px auto 20px;
  padding: 5px 60px;
  overflow-x: auto;
}
.table {
  width: 100%;
  min-width: 1300px;
  border-collapse: separate;
  border-spacing: 0;
  table-layout: fixed;
}
.table th,
.table td {
  border: 1px solid rgb(233, 233, 233);
  padding: 0.8rem 0.5rem;
  font-weight: normal;
  text-align: center;
}
.table thead tr:first-child th {
  height: 30px;
  width: 30px;
}
.table thead tr:nth-child(2) th {
  height: 50px;
}
.habits_text {
  color: blue;
}
.cell {
  cursor: pointer;
  font-size: 0.8rem;
}

.no_habit {
  text-align: center;
  height: 150px;
}
.weekday {
  color: rgb(117, 115, 115);
  font-size: 0.8rem;
}

.goal_title,
.achieved_title {
  color: blue;
}

.today {
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
}
.today_col_border {
  border-left: 1px solid black !important;
  border-right: 1px solid black !important;
  box-sizing: border-box;
}
.today_bottom_border {
  border-bottom: 1px solid black !important;
  box-sizing: border-box;
}
.day_today {
  color: white;
}
.checked_0 {
  background-color: rgb(215, 246, 237);
}
.checked_1 {
  background-color: rgb(249, 238, 204);
}
.checked_2 {
  background-color: rgb(192, 221, 243);
}
.facheck {
  color: rgb(95, 95, 95);
}
.achieve_goal {
  background-color: aquamarine;
}
.icons_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.icon {
  cursor: pointer;
}
.drag {
  cursor: grab;
}
.disabled_cell {
  pointer-events: none;
  background-color: rgba(128, 128, 128, 0.313);
  cursor: not-allowed;
}
