.wrapper {
  width: 50%;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.notes_title {
  color: blue;
}
.new_note_btn {
  padding: 0.5rem 1rem;
  border: 1px solid rgb(214, 210, 210);
  background-color: transparent;
  cursor: pointer;
}
.no_note {
  text-align: center;
}
@media (max-width: 1200px) {
  .wrapper {
    width: 70%;
  }
}
@media (max-width: 600px) {
  .wrapper {
    width: 90%;
  }
}
