.outer {
  position: relative;
}
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 80px;
}

.title {
  font-size: 1.2rem;
  margin-bottom: 30px;
  font-weight: bold;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.input_wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.input {
  padding: 10px;
  border-radius: 3px;
  width: 400px;
}
.correct_input_style {
  border: 1px solid rgb(211, 210, 210);
}
.error_input_style {
  border: 1px solid red;
}
.correct_input_style:hover {
  outline: 1px solid rgba(77, 175, 244, 0.735);
}

.error_input_style:focus {
  outline: none;
  box-shadow: 0 0 1px 3px rgba(255, 0, 0, 0.1);
  padding: 10px;
}
.correct_input_style:focus {
  box-shadow: 0 0 1px 3px rgba(111, 189, 244, 0.252);
  padding: 10px;
  outline: 1px solid rgba(77, 175, 244, 0.735);
}
.btn {
  background-color: rgb(50, 50, 50);
  color: white;
  width: 250px;
  padding: 0.5rem;
  border-radius: 3px;
  cursor: pointer;
  align-self: center;
  margin-top: 0.8rem;
}

.forgot_link {
  margin-top: 15px;
  font-size: 0.85rem;
  color: #333;
  text-align: center;
}

.forgot_link a {
  color: blue;
  text-decoration: none;
}
.star {
  color: rgba(255, 0, 0, 0.641);
  font-size: 0.5rem;
}
.label_star {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}
.error_text {
  color: red;
}
.password_wrapper {
  position: relative;
}

.eye {
  color: gray;
  position: absolute;
  top: 50%;
  right: 0.5rem;
  transform: translateY(-50%);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 600px) {
  .input {
    width: 300px;
  }
  .btn {
    width: 170px;
  }
}
