.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 5%;
  background-color: white;
}
.logo {
  font-weight: bold;
  font-size: 1.5rem;
  color: black;
  text-decoration: none;
}
.right {
  display: flex;
  gap: 2rem;
  align-items: center;
}
.link_to_login {
  text-decoration: none;
  color: gray;
}
.create_account_btn {
  background-color: rgb(50, 50, 50);
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 3px;
  cursor: pointer;
}
.create_account_btn:active {
  background-color: white;
}
.start_today {
  border: none;
  cursor: pointer;
  background-color: transparent;
  color: black;
}
.dropdown_wrapper {
  position: relative;
}
.dropdown_wrapper:hover .dropdown_menu {
  display: block;
}
.dropdown_box {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.243);
  border-radius: 5px;
  min-width: 170px;
  z-index: 10;
  display: none;
  padding: 0.5rem 0;
}
.logout {
  width: 100%;
  padding: 8px 12px;
  background: none;
  border: none;
  text-align: left;
  cursor: pointer;
  color: red;
  font-size: 0.8rem;
}
.logout:hover {
  background-color: red;
  color: white;
}
.left {
  display: flex;
  align-items: baseline;
  gap: 1.5rem;
}
.dropdown_title {
  background-color: transparent;
  border: none;
  padding: 0.5rem;
  font-size: 0.8rem;
  color: rgb(90, 88, 88);
  cursor: pointer;
  display: flex;
  align-items: center;
}
.icon {
  font-size: 24px;
}
.dropdown_wrapper:hover .dropdown_box {
  display: block;
}
.dropdown_item {
  width: 100%;
  padding: 8px 12px;
  background: none;
  border: none;
  text-align: left;
  cursor: pointer;
  font-size: 0.8rem;
  color: black;
}
.dropdown_item:hover {
  background-color: rgba(214, 212, 212, 0.287);
}
.mobile_menu {
  display: none;
}
@media (max-width: 600px) {
  .mobile_menu {
    display: block;
  }
  .desktop_menu {
    display: none;
  }
  .logo {
    font-size: 1.2rem;
  }
  .right {
    gap: 1rem;
  }
  .mobile_dropdown_box {
    left: auto;
    right: 0;
  }
}
