html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  overflow: auto;
  scrollbar-width: none; /* Firefox  */
  -ms-overflow-style: none; /* IE */
}
body::-webkit-scrollbar {
  display: none; /* Chrome/Safari  */
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
