.wrapper {
  display: flex;
  margin: 4% auto;
  width: 1200px;
  padding: 1rem 2rem;
}
.circle {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.stat_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}
.habit_title {
  width: 130px;
  color: rgb(61, 61, 61);
  box-sizing: border-box;
}
.stat_info {
  display: flex;
  gap: 2rem;
}
.stat_circle {
  display: flex;
  gap: 3rem;
}
.no_statistics_content {
  color: gray;
  display: flex;
  margin-top: 5%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.habits_table_link {
  color: blue;
  margin-left: 0.3rem;
}

@media (max-width: 1200px) {
  .wrapper {
    width: 90%;
    display: block;
  }
  .circle {
    display: block;
    text-align: center;
  }
  .habit_title {
    margin: 2rem auto;
  }
}
